body{
    background-color: darkorange;
}

.h1{
    font-size: 3em;
    text-shadow: 0px 0px 0px darkgrey;

}
.h1:hover{
    text-shadow: 5px 5px 5px pink;
    transition-property: text-shadow;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.blue-box{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-left:200px;
    margin-right:100px;
    padding-left: 10px;
    padding-top:10px;
}

.blue-box:hover{
    background-color: pink;
    text-shadow: 5px 5px 5px grey;
}